# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

# ignore All npm library file/folder  
node_modules

# ignore My local .env file
*.env

# ignore package-lock.josn
package-lock.json
